<?xml version="1.0" encoding="GBK"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myMineStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerLoginCtrl</display-name>
    <servlet-name>CustomerLoginCtrl</servlet-name>
    <servlet-class>customer.CustomerLoginCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginCtrl</servlet-name>
    <url-pattern>/CustomerLoginCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerCtrl</display-name>
    <servlet-name>UpdateCustomerCtrl</servlet-name>
    <servlet-class>customer.UpdateCustomerCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerCtrl</servlet-name>
    <url-pattern>/UpdateCustomerCtrl</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>util.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessRegisterCtrl</display-name>
    <servlet-name>BusinessRegisterCtrl</servlet-name>
    <servlet-class>business.BusinessRegisterCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessRegisterCtrl</servlet-name>
    <url-pattern>/BusinessRegisterCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBusinessCtrl</display-name>
    <servlet-name>UpdateBusinessCtrl</servlet-name>
    <servlet-class>business.UpdateBusinessCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBusinessCtrl</servlet-name>
    <url-pattern>/UpdateBusinessCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllGoodsCtrl</display-name>
    <servlet-name>QueryAllGoodsCtrl</servlet-name>
    <servlet-class>visitor.QueryAllGoodsCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllGoodsCtrl</servlet-name>
    <url-pattern>/QueryAllGoodsCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryGoodsDetailCtrl</display-name>
    <servlet-name>QueryGoodsDetailCtrl</servlet-name>
    <servlet-class>visitor.QueryGoodsDetailCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryGoodsDetailCtrl</servlet-name>
    <url-pattern>/QueryGoodsDetailCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckGoodsCtrl</display-name>
    <servlet-name>CheckGoodsCtrl</servlet-name>
    <servlet-class>visitor.CheckGoodsCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckGoodsCtrl</servlet-name>
    <url-pattern>/CheckGoodsCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartCtrl</display-name>
    <servlet-name>AddToCartCtrl</servlet-name>
    <servlet-class>cart.AddToCartCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartCtrl</servlet-name>
    <url-pattern>/AddToCartCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterCtrl</display-name>
    <servlet-name>CustomerRegisterCtrl</servlet-name>
    <servlet-class>visitor.CustomerRegisterCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterCtrl</servlet-name>
    <url-pattern>/CustomerRegisterCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItemCtrl</display-name>
    <servlet-name>DeleteItemCtrl</servlet-name>
    <servlet-class>cart.DeleteItemCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemCtrl</servlet-name>
    <url-pattern>/DeleteItemCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartCtrl</display-name>
    <servlet-name>UpdateCartCtrl</servlet-name>
    <servlet-class>cart.UpdateCartCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartCtrl</servlet-name>
    <url-pattern>/UpdateCartCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmptyCartCtrl</display-name>
    <servlet-name>EmptyCartCtrl</servlet-name>
    <servlet-class>cart.EmptyCartCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmptyCartCtrl</servlet-name>
    <url-pattern>/EmptyCartCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOrderCtrl</display-name>
    <servlet-name>InsertOrderCtrl</servlet-name>
    <servlet-class>order.InsertOrderCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrderCtrl</servlet-name>
    <url-pattern>/InsertOrderCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCtrl</display-name>
    <servlet-name>LogoutCtrl</servlet-name>
    <servlet-class>customer.LogoutCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCtrl</servlet-name>
    <url-pattern>/LogoutCtrl</url-pattern>
  </servlet-mapping>
</web-app>